body {
    background: #090f1d;
    max-width: 1512px;
}
.bg {
    position: absolute;
    z-index: -1;
    width: 1512px;
    height: 4678px;
    opacity: 5%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.header_container {
    display: flex;
    justify-content: space-between;
    width: 1512px;
    height: 104px;
    padding: 28px 111px 28px 111px;
    align-items: center;
    box-sizing: border-box;
    
}

.navbar_element {
    text-decoration:none;
    color: rgba(255, 255, 253, 0.72);
    padding-right: 40px;
}

.navbar {    
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}
.navbar_marketplace {
    text-decoration: underline;
text-decoration-color: #D6EF0E;
color: rgba(255, 255, 253, 0.72);
    padding-right: 40px;
}
.btn_header {
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    width: 143px;
    text-decoration: none;
    color: white;
    background: #D6EF0E;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_header:hover {
    background: #D6EF0E;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.first_part {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 92px 111px;
    width: 1512px;
    height: 821px;
    box-sizing: border-box;

}
.first_part_left_txt_btn {
    font-family:"Inter", sans-serif;
    color: #fff;
    margin-right: 111px;
   
}
h1 {
    font-family: 'Canela Trial', sans-serif;
    margin: 0;
font-weight: 500;
font-size: 64px;
line-height: 120%;
}
h2 {
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 160%;
padding-bottom: 40px;
}
.first_part_left_stats {
    display: flex;
    color: #fff;
    margin-top:  72px;
}
.btn_first_part_left {
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    width: 178px;
    text-decoration: none;
    color: white;
    background: #d6ef0e; 
}
.btn_first_part_right {
    text-decoration:none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fffffd;
    padding-left: 36px;
}
.green_text {
    color: #d6ef0e;
}
.first_part_right {
   position: relative; 
}
.foto_first_part_1 {
    
    padding-left: 112px;
    border-radius: 24px;
    z-index: 2;
}
.foto_first_part_2 {
    position: absolute;
    z-index: 3;
    width: 171px;
   left: 60px;
   top: 223px;
   height: 171px;
   transform: rotate(-90deg);
}
.foto_first_part_3 {
    position: absolute;
    z-index: 0;
    width: 631px;
height: 458px;
filter: blur(400px);
background: #1f413d;
top: 249px;
left: 550px;   
}
.first_part_on_img {
    position: absolute;
    z-index: 2;
    border-top: 1px solid #d6ef0e;
    border-radius: 16px;
    padding: 20px;
    width: 304px;
    height: 169px;
    box-shadow: 0 9px 50px 0 rgba(23, 36, 65, 0.04);
    background: #131e3a;
    top: 468px;
    left: 271px;
    
}
.first_part_on_img_text {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 264px;
height: 53px;
gap: 105px;
}
.red {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 20px;
}

.first_part_on_img_text div p {
    font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 160%;
}
.btn_first_on_img {
    background: #131e3a;
    border: 1px solid #d6ef0e;
border-radius: 8px;
padding: 12px 40px;
width: 264px;
height: 52px;
font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #d6ef0e;
}
.text_on_img {
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #fffffd;
}
.one_stat {
    margin-right: 92px;
    border-right:2px solid #D6EF0E;
   padding-right: 8px;
}
p {
    margin: 0;
}

.stat_text_top {
    font-family: 'Canela Trial', sans-serif;
font-weight: 500;
font-size: 48px;
line-height: 120%;
}
.two_stat {
    margin-right: 92px;
    border-right:2px solid #D6EF0E;
   padding-right: 8px;
}
.stat_text_bottom {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.second_part_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.second_part_top_text {
    font-family: 'Canela Trial', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
}
.btn_second_part {
    border-radius: 8px;
    padding: 12px 40px;
    width: 134px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    background: #d6ef0e;
}
.second_part {
    padding: 92px 111px;
    width: 1512px;
    height: 862px;
box-sizing: border-box;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 64px;
}
.one_cards {
    text-align: center;
    border-top: 1px solid #d6ef0e;
    border-radius: 28px;
    padding: 20px;
    width: 410px;
    height: 498px;
    background: #131e3a;
    box-sizing: border-box;
}
.frame_1_1 {
    display: flex;
    justify-content: space-between;
}
.frame_1_1 p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #fffffd;
}
.frame_1 {
    padding: 20px;
}
.frame_1_1_1 {
    display: flex;
}
.frame_1_1_1 p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fffffd;
}
.btn_frame_1_2 {
    border: 1px solid #d6ef0e;
    border-radius: 8px;
    padding: 12px 40px;
    width: 168px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #d6ef0e;
    background: #131e3a;
}
.frame_1_2 {
    display:flex;
    justify-content: space-between;
    padding-top: 16px;
}
.frame_1_2_left_clock {
    display: flex;
}
.frame_1_2_left_text {
    text-align: start;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #838382;
}
.frame_1_2_left_clock_text {
    font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #fffffd;
padding-left: 12px;
}
.third_part {
    padding: 92px 111px;
    width: 1512px;
    height: 743px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.third_part_foto_right {
    position: absolute;

}
.third_part_foto_left {
    position: absolute;
}
.third_part_foto_right_part {
    position: relative;
    width: 740px;
    height: 559px;
}
.third_part_foto_right_1 {
    position: absolute;
    z-index: 5;
    border-radius: 24px;
    width: 410px;
    height: 400px;
    margin-top: 251px;   
}

.third_part_foto_right_2 {
    position: absolute;
    z-index: 4;
    border-radius: 24px;
    width: 410px;
    height: 475px;
    margin-top: 72px;
    margin-left: 330px;
}
.third_part_foto_right_3 {
    width: 346px;
    position: absolute;
    z-index: 3;
    margin-top: 478px;
    margin-left: 420px;
}
.second_part_foto_aside_between {
    position: absolute;
    z-index: 3;
    width: 434px;
    margin-top: 392px;
    margin-left: 1000px;   
}
.third_part_content {
    width: 426px;
    height: 280px; 
    margin-top:  232px; 
    margin-right: 124px;
}


.third_part_content_title_text_one {
    font-family: 'Canela Trial', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
}
.third_part_content_title_text_two {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    padding-bottom: 20px;
}

.fourth_part {
    padding: 92px 111px;
    width: 1512px;
    height: 1016px; 
    box-sizing: border-box;
}
.fourth_part_conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1rf 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-top: 64px;
}

.fourth_part_foto_one {
    grid-row: 1/2;
    grid-column: 1/2;
}
.fourth_part_foto_two {
    grid-row: 1/2;
    grid-column: 2/4;
}
.fourth_part_foto_free {
    grid-row: 2/3;
    grid-column: 1/3;
}
.fourth_part_foto_four {
    grid-row: 2/3;
    grid-column: 3/4;
}
.fourth_part_foto_five {
    grid-row: 1/3;
    grid-column: 4/5;
}

.fifth_part {
    padding: 92px 111px;
    width: 1512px;
    height: 743px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fifth_part_foto_right {
    position: absolute;
}
.fifth_part_foto_right_part {
    position: relative;
    width: 630px;
    height: 458px;
}
.fifth_part_foto_right_1 {
    position: absolute;
    z-index: 5;
    border-radius: 16px;
    width: 282px;
    height: 348px;
    margin-top: 110px;   
    margin-left: 348px;
}
.fifth_part_foto_right_2 {
    position: absolute;
    z-index: 4;
    border-radius: 20px;
    width: 410px;
    height: 376px;
    
}
.fifth_part_foto_right {
    position: absolute;
    z-index: 3;
    width: 513px;
    height: 358px;
    margin-left: -199px;
    margin-top: -101px;
}
.fifth_part_content {
    height: 280px; 
    margin:  85px 0 85px 140px; 
    
}
.fifth_part_content_title_text_one {
    font-family: 'Canela Trial', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
}
.fifth_part_content_title_text_one {
    font-family: 'Canela Trial', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
}
.fifth_part_content_title_text_two {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    padding-bottom: 20px;
}
.btn_fifth_part_left {
    border: none;
    border-radius: 8px;
    width: 178px;
    height: 52px;
    text-decoration: none;
    color: white;
    background: #d6ef0e; 
}
.btn_fifth_part_right {
    text-decoration:none;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fffffd;
    padding-left: 36px;
}
.email {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 8px;
    height: 60px;
    width: 516px;
    background: #131e3a;
}
#userEmail {
    text-align: center;
    border: none;
    background: #131e3a;
}
